
.wrapper {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 120px;
  padding-top: 40px;
  height: 100%;
  min-height: 700px;
}

.card {
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.card-body{
  padding: 0 5px;
  display: grid;
  width: 100%;
  justify-items: center;
}

.underline {
  height: 2px;
  background: #89CDB1;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 80%;
}

.card-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.btnNext {
  width: fit-content;
  background-color: #ffdc22;
  border-radius: 6px;
  padding: 8px 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  width: 80px;
  margin: 5px;
  border: 1px solid #EEE;
}

.btnNext:hover {
  background-color: white;
}

.footerButton {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 10px 0;
  position: fixed;
  bottom: 1px;
}

.navbar {
  padding-left: 10px;
  background-color: #ffdc22;
  padding-right: 10px;
  justify-content: flex-start !important;
  position: fixed;
  width: 100%;
}

.container-defautl {
  background-color: #FFF;
  padding-top: 47px;
  min-height: 700px;
}

.pokemon-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-left: 20px;
}

.owned {
  font-weight: 600;
  font-size: 12px;
}

.label-detail {
  font-weight: 600;
  font-size: 19px;
}

.label-item {
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  padding: 2px 10px;
  background-color: #ffdc22;
  border-radius: 4px;
  margin: 5px;
  text-align: center;
}

.content-label-detail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.button-catch {
  background-color: #89CDB1;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
}

.button-catch:hover {
  opacity: 1;
}

.alert-message {
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-49%, -62%);
  width: fit-content;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: white;
  color: black;
}

.alert-message.danger-message {
  background-color: rgba(255, 0, 0, 0.8) !important;
}

.content-input-catch {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffdc22;
  transition: height 0.15s ease-out;
}

.content-input-catch.show {
  height: 60%;
  transition: height 0.25s ease-in;
}

.content-input-catch .col-md-12 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

.title-input {
  color: #3F51B5;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}

.button-save {
  background-color: #3F51B5;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 32px;
  text-align: center;
}

.form-custom {
  height: 48px;
}

.form-custom.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}

.header-list {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.header-list div {
  background-color: #89CDB1;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.header-list div.active {
  background-color: #005B30;
  color: white;
}

.dismis-mypokemon {
  position: absolute;
  right: 6px;
  top: 6px;
  background: red;
  color: white;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 800px){
  .mx-30{
      margin-bottom: 30px;
  }
}
